<app-after-login></app-after-login>
<div class="container-fluid">
    <div class="row">
      	<app-sidebar></app-sidebar>  
      	<!--.main-->
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
				<div class="loader" *ngIf="loading" >
					<img src="../../assets/images/loader.gif" />
				</div>
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
					<h1 class="h2">Uninsured Persons</h1>
				</div>

				<div>
					<div class="row">
						<div class="col" *ngIf="ageCatInfo && ageCatInfo != ''">
							<div class="card mb-4">
								<div class="card-header">categories</div>
								<div class="cord-body">
									<div class="table-responsive">
										<table class="table table-hover table-striped m-0">
											<thead class="thead-light">
												<tr>
													<th scope="col">#</th>
													<th scope="col">Age</th>
													<th scope="col">Uninsured Persons</th>
													<th scope="col">Uninsured Persons MOE</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let ageItem of ageCatInfo; let i = index">
													<th scope="row">{{i + 1}}</th>
													<td>{{ageItem.category_label}}</td>
													<td>{{ageItem.uninsured}}</td>
													<td>{{ageItem.uninsured_moe}}</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="col" *ngIf="incomeCatInfo && incomeCatInfo != ''">
							<div class="card mb-4">
								<div class="card-header">Income categories</div>
								<div class="cord-body">
									<div class="table-responsive">
										<table class="table table-hover table-striped m-0">
											<thead class="thead-light">
												<tr>
													<th scope="col">#</th>
													<th scope="col">Incomes</th>
													<th scope="col">Uninsured Persons</th>
													<th scope="col">Uninsured Persons MOE</th>
												</tr>
											</thead>
											<tbody>
												<tr *ngFor="let incomeItem of incomeCatInfo; let i = index">
													<th scope="row">{{i + 1}}</th>
													<td>{{incomeItem.category_label}}</td>
													<td>{{incomeItem.uninsured}}</td>
													<td>{{incomeItem.uninsured_moe}}</td>
												</tr>											
											</tbody>
										</table>
									</div>
								</div>
							</div>          		
						</div>						
					</div>
				</div>
				
				<!--.row-->
				<div class="row">
					<div class="col" *ngIf="sexCatInfo && sexCatInfo != ''">
						<div class="card mb-4">
							<div class="card-header">Sex categories</div>
							<div class="cord-body">
								<div class="table-responsive">
									<table class="table table-hover table-striped m-0">
										<thead class="thead-light">
											<tr>
												<th scope="col">#</th>
												<th scope="col">Sex</th>
												<th scope="col">Uninsured Persons</th>
												<th scope="col">Uninsured Persons MOE</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let sexItem of sexCatInfo; let i = index">
												<th scope="row">{{i + 1}}</th>
												<td>{{sexItem.category_label}}</td>
												<td>{{sexItem.uninsured}}</td>
												<td>{{sexItem.uninsured_moe}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>          		
					</div>
					<div class="col" *ngIf="reCatInfo && reCatInfo != ''">
						<div class="card mb-4">
							<div class="card-header">Races/Ethnicities categories</div>
							<div class="cord-body">
								<div class="table-responsive">
									<table class="table table-hover table-striped m-0">
										<thead class="thead-light">
											<tr>
												<th scope="col">#</th>
												<th scope="col">Races/Ethnicities</th>
												<th scope="col">Uninsured Persons</th>
												<th scope="col">Uninsured Persons MOE</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let reItem of reCatInfo; let i = index">
												<th scope="row">{{i + 1}}</th>
												<td>{{reItem.category_label}}</td>
												<td>{{reItem.uninsured}}</td>
												<td>{{reItem.uninsured_moe}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>          		
					</div>
				</div>
				<!--/.row-->

				<!--.row-->
				<div class="row">
					<div class="col">
						<div class="card mb-4">
							<div class="card-header">Estimates for age category 0-18 by the income categories</div>
							<div class="cord-body">
								<div class="table-responsive">
									<table class="table table-hover table-striped m-0">
										<thead class="thead-light">
											<tr>
												<th scope="col">#</th>
												<th scope="col">Incomes</th>
												<th scope="col">Uninsured Persons</th>
												<th scope="col">Uninsured Persons MOE</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<th scope="row">1</th>
												<td>0-138%</td>
												<td>600</td>
												<td>15</td>
											</tr>
											<tr>
												<th scope="row">2</th>
												<td>0-200%</td>
												<td>1500</td>
												<td>45</td>
											</tr>
											<tr>
												<th scope="row">3</th>
												<td>0-250%</td>
												<td>7955</td>
												<td>56</td>
											</tr>
											<tr>
												<th scope="row">4</th>
												<td>0-400%</td>
												<td>8547</td>
												<td>25</td>
											</tr>
											<tr>
												<th scope="row">5</th>
												<td>138-400%</td>
												<td>8547</td>
												<td>25</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>          		
					</div>
				</div>
				<!--/.row-->
			</main>
		<!--/.main-->
    </div>
</div>