<app-after-login></app-after-login>
<div class="container-fluid">
	<div class="row">
		<app-sidebar></app-sidebar>  
		<!--.main-->
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
				<h1 class="h2">Add Country</h1>
			</div>

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
					<li class="breadcrumb-item"><a routerLink="/countrylist">Country List</a></li>
					<li class="breadcrumb-item active" aria-current="page">Add Country</li>
				</ol>
			</nav>

			<div id="add-country-details" class="mb-5">
				<div class="card">
					<div class="card-body">
						<div class="alert alert-danger" *ngIf="errorMsg && errorMsg != ''">{{errorMsg}}</div>
						<div class="alert alert-success" *ngIf="successMsg && successMsg != ''">{{successMsg}}</div>
						<form [formGroup]="addCountryForm" (ngSubmit)="saveCountry()" #f="ngForm" novalidate>
							<!--.row-->
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="countryname">Country</label>
										<input type="text" class="form-control" placeholder="Enter country" formControlName="countryname">
										<div *ngIf="f.submitted && addCountryForm.controls['countryname'].hasError('required')" class="help-block">This is required</div>

										<div *ngIf="addCountryForm.controls['countryname'].hasError('minlength')" class="help-block">Enter minimum 4 characters</div>

										<div *ngIf="addCountryForm.controls['countryname'].hasError('maxlength')" class="help-block">Enter lessthan 20 characters</div>

										<div *ngIf="addCountryForm.controls['countryname'].hasError('pattern')" class="help-block">Enter only alphabetical characters</div>										
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="population">Population</label>
										<input type="text" class="form-control" placeholder="Enter population" formControlName="population">	
										<div *ngIf="f.submitted && addCountryForm.controls['population'].hasError('required')" class="help-block">This is required</div>
										<div *ngIf="addCountryForm.controls['population'].hasError('pattern')" class="help-block">Enter number only</div>										
									</div>
								</div>
							</div>
							<!--/.row-->

							<!--.row-->
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="insured">Insured</label>
										<input type="text" class="form-control" placeholder="Enter insured" formControlName="insured">	
										<div *ngIf="f.submitted && addCountryForm.controls['insured'].hasError('required')" class="help-block">This is required</div>	
										<div *ngIf="addCountryForm.controls['insured'].hasError('pattern')" class="help-block">Enter number only</div>								
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="uninsured">Uninsured</label>
										<input type="text" class="form-control" placeholder="Enter uninsured" formControlName="uninsured">
										<div *ngIf="f.submitted && addCountryForm.controls['uninsured'].hasError('required')" class="help-block">This is required</div>	
										<div *ngIf="addCountryForm.controls['uninsured'].hasError('pattern')" class="help-block">Enter number only</div>
									</div>
								</div>
							</div>
							<!--/.row-->

							<!--.row-->
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label for="insuredmoe">Insured MOE</label>
										<input type="text" class="form-control" placeholder="Enter insured moe" formControlName="insuredmoe">
										<div *ngIf="f.submitted && addCountryForm.controls['insuredmoe'].hasError('required')" class="help-block">This is required</div>	
										<div *ngIf="addCountryForm.controls['insuredmoe'].hasError('pattern')" class="help-block">Enter number only</div>								
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label for="uninsuredmoe">Uninsured MOE</label>
										<input type="text" class="form-control" placeholder="Enter uninsured moe" formControlName="uninsuredmoe">
										<div *ngIf="f.submitted && addCountryForm.controls['uninsuredmoe'].hasError('required')" class="help-block">This is required</div>	
										<div *ngIf="addCountryForm.controls['uninsuredmoe'].hasError('pattern')" class="help-block">Enter number only</div>										
									</div>
								</div>
							</div>
							<!--/.row-->
							
							<!--.Age row-->
							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-header">Age Category</div>
										<div class="card-body">
											<div class="countryCatBoxes">
												<h4>0-18:</h4>
												<div class="row">
													<div class="col-12 clearfix">
														<div formGroupName="age0to18">
															<div class="form-group ">
																<label>Population</label>
																<input type="number" class="form-control" formControlName="population">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age0to18'].controls['population'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured</label>
																<input type="number" class="form-control" formControlName="insured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age0to18'].controls['insured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured MOE</label>
																<input type="number" class="form-control" formControlName="insuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age0to18'].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Unnsured</label>
																<input type="number" class="form-control" formControlName="uninsured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age0to18'].controls['uninsured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Uninsured MOE</label>
																<input type="number" class="form-control" formControlName="uninsuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age0to18'].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<hr>
											<div class="countryCatBoxes">
												<h4>18-64:</h4>
												<div class="row">
													<div class="col-12 clearfix">
														<div formGroupName="age18to64">
															<div class="form-group ">
																<label>Population</label>
																<input type="number" class="form-control" formControlName="population">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age18to64'].controls['population'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured</label>
																<input type="number" class="form-control" formControlName="insured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age18to64'].controls['insured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured MOE</label>
																<input type="number" class="form-control" formControlName="insuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age18to64'].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Unnsured</label>
																<input type="number" class="form-control" formControlName="uninsured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age18to64'].controls['uninsured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Uninsured MOE</label>
																<input type="number" class="form-control" formControlName="uninsuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age18to64'].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<hr>
											<div class="countryCatBoxes">
												<h4>21-64:</h4>
												<div class="row">
													<div class="col-12 clearfix">
														<div formGroupName="age21to64">
															<div class="form-group ">
																<label>Population</label>
																<input type="number" class="form-control" formControlName="population">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age21to64'].controls['population'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured</label>
																<input type="number" class="form-control" formControlName="insured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age21to64'].controls['insured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured MOE</label>
																<input type="number" class="form-control" formControlName="insuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age21to64'].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Unnsured</label>
																<input type="number" class="form-control" formControlName="uninsured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age21to64'].controls['uninsured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Uninsured MOE</label>
																<input type="number" class="form-control" formControlName="uninsuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age21to64'].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<hr>
											<div class="countryCatBoxes">
												<h4>40-64:</h4>
												<div class="row">
													<div class="col-12 clearfix">
														<div formGroupName="age40to64">
															<div class="form-group ">
																<label>Population</label>
																<input type="number" class="form-control" formControlName="population">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age40to64'].controls['population'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured</label>
																<input type="number" class="form-control" formControlName="insured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age40to64'].controls['insured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured MOE</label>
																<input type="number" class="form-control" formControlName="insuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age40to64'].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Unnsured</label>
																<input type="number" class="form-control" formControlName="uninsured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age40to64'].controls['uninsured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Uninsured MOE</label>
																<input type="number" class="form-control" formControlName="uninsuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age40to64'].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<hr>
											<div class="countryCatBoxes">
												<h4>50-64:</h4>
												<div class="row">
													<div class="col-12 clearfix">
														<div formGroupName="age50to64">
															<div class="form-group ">
																<label>Population</label>
																<input type="number" class="form-control" formControlName="population">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age50to64'].controls['population'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured</label>
																<input type="number" class="form-control" formControlName="insured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age50to64'].controls['insured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured MOE</label>
																<input type="number" class="form-control" formControlName="insuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age50to64'].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Unnsured</label>
																<input type="number" class="form-control" formControlName="uninsured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age50to64'].controls['uninsured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Uninsured MOE</label>
																<input type="number" class="form-control" formControlName="uninsuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['age50to64'].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--/.Age row-->

							<!--.Income row-->
							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-header">Income Category</div>
										<div class="card-body">
											<div class="countryCatBoxes">
												<h4>0-138%:</h4>
												<div class="row">
													<div class="col-12 clearfix">
														<div formGroupName="income0to138">
															<div class="form-group ">
																<label>Population</label>
																<input type="number" class="form-control" formControlName="population">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to138'].controls['population'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured</label>
																<input type="number" class="form-control" formControlName="insured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to138'].controls['insured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured MOE</label>
																<input type="number" class="form-control" formControlName="insuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to138'].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Unnsured</label>
																<input type="number" class="form-control" formControlName="uninsured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to138'].controls['uninsured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Uninsured MOE</label>
																<input type="number" class="form-control" formControlName="uninsuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to138'].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<hr>
											<div class="countryCatBoxes">
												<h4>0-200%:</h4>
												<div class="row">
													<div class="col-12 clearfix">
														<div formGroupName="income0to200">
															<div class="form-group ">
																<label>Population</label>
																<input type="number" class="form-control" formControlName="population">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to200'].controls['population'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured</label>
																<input type="number" class="form-control" formControlName="insured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to200'].controls['insured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured MOE</label>
																<input type="number" class="form-control" formControlName="insuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to200'].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Unnsured</label>
																<input type="number" class="form-control" formControlName="uninsured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to200'].controls['uninsured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Uninsured MOE</label>
																<input type="number" class="form-control" formControlName="uninsuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to200'].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<hr>
											<div class="countryCatBoxes">
												<h4>0-250%:</h4>
												<div class="row">
													<div class="col-12 clearfix">
														<div formGroupName="income0to250">
															<div class="form-group ">
																<label>Population</label>
																<input type="number" class="form-control" formControlName="population">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to250'].controls['population'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured</label>
																<input type="number" class="form-control" formControlName="insured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to250'].controls['insured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured MOE</label>
																<input type="number" class="form-control" formControlName="insuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to250'].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Unnsured</label>
																<input type="number" class="form-control" formControlName="uninsured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to250'].controls['uninsured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Uninsured MOE</label>
																<input type="number" class="form-control" formControlName="uninsuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to250'].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
														</div>														
													</div>
												</div>
											</div>
											<hr>
											<div class="countryCatBoxes">
												<h4>0-400%:</h4>
												<div class="row">
													<div class="col-12 clearfix">
														<div formGroupName="income0to400">
															<div class="form-group ">
																<label>Population</label>
																<input type="number" class="form-control" formControlName="population">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to400'].controls['population'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured</label>
																<input type="number" class="form-control" formControlName="insured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to400'].controls['insured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured MOE</label>
																<input type="number" class="form-control" formControlName="insuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to400'].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Unnsured</label>
																<input type="number" class="form-control" formControlName="uninsured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to400'].controls['uninsured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Uninsured MOE</label>
																<input type="number" class="form-control" formControlName="uninsuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income0to400'].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<hr>
											<div class="countryCatBoxes">
												<h4>138-400%:</h4>
												<div class="row">
													<div class="col-12 clearfix">
														<div formGroupName="income138to400">
															<div class="form-group ">
																<label>Population</label>
																<input type="number" class="form-control" formControlName="population">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income138to400'].controls['population'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured</label>
																<input type="number" class="form-control" formControlName="insured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income138to400'].controls['insured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured MOE</label>
																<input type="number" class="form-control" formControlName="insuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income138to400'].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Unnsured</label>
																<input type="number" class="form-control" formControlName="uninsured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income138to400'].controls['uninsured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Uninsured MOE</label>
																<input type="number" class="form-control" formControlName="uninsuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['income138to400'].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--/.Income row-->

							<!--.Gender row -->
							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-header">Gender Category</div>
										<div class="card-body">
											<div class="countryCatBoxes">
												<h4>Male:</h4>
												<div class="row">
													<div class="col-12 clearfix">
														<div formGroupName="male">
															<div class="form-group ">
																<label>Population</label>
																<input type="number" class="form-control" formControlName="population">
											    				<div *ngIf="f.submitted && addCountryForm.controls['male'].controls['population'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured</label>
																<input type="number" class="form-control" formControlName="insured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['male'].controls['insured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured MOE</label>
																<input type="number" class="form-control" formControlName="insuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['male'].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Unnsured</label>
																<input type="number" class="form-control" formControlName="uninsured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['male'].controls['uninsured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Uninsured MOE</label>
																<input type="number" class="form-control" formControlName="uninsuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['male'].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<hr>
											<div class="countryCatBoxes">
												<h4>Female:</h4>
												<div class="row">
													<div class="col-12 clearfix">
														<div formGroupName="female">
															<div class="form-group ">
																<label>Population</label>
																<input type="number" class="form-control" formControlName="population">
											    				<div *ngIf="f.submitted && addCountryForm.controls['female'].controls['population'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured</label>
																<input type="number" class="form-control" formControlName="insured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['female'].controls['insured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured MOE</label>
																<input type="number" class="form-control" formControlName="insuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['female'].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Unnsured</label>
																<input type="number" class="form-control" formControlName="uninsured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['female'].controls['uninsured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Uninsured MOE</label>
																<input type="number" class="form-control" formControlName="uninsuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['female'].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--.Gender row-->

							<!--.Races/Ethnicities category row -->
							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-header">Races/Ethnicities Category</div>
										<div class="card-body">
											<div class="countryCatBoxes">
												<h4>White Not Hispanic:</h4>
												<div class="row">
													<div class="col-12 clearfix">
														<div formGroupName="whiteNotHispanic">
															<div class="form-group ">
																<label>Population</label>
																<input type="number" class="form-control" formControlName="population">
											    				<div *ngIf="f.submitted && addCountryForm.controls['whiteNotHispanic'].controls['population'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured</label>
																<input type="number" class="form-control" formControlName="insured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['whiteNotHispanic'].controls['insured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured MOE</label>
																<input type="number" class="form-control" formControlName="insuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['whiteNotHispanic'].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Unnsured</label>
																<input type="number" class="form-control" formControlName="uninsured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['whiteNotHispanic'].controls['uninsured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Uninsured MOE</label>
																<input type="number" class="form-control" formControlName="uninsuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['whiteNotHispanic'].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<hr>
											<div class="countryCatBoxes">
												<h4>Black Not Hispanic:</h4>
												<div class="row">
													<div class="col-12 clearfix">
														<div formGroupName="blackNotHispanic">
															<div class="form-group ">
																<label>Population</label>
																<input type="number" class="form-control" formControlName="population">
											    				<div *ngIf="f.submitted && addCountryForm.controls['blackNotHispanic'].controls['population'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured</label>
																<input type="number" class="form-control" formControlName="insured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['blackNotHispanic'].controls['insured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured MOE</label>
																<input type="number" class="form-control" formControlName="insuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['blackNotHispanic'].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Unnsured</label>
																<input type="number" class="form-control" formControlName="uninsured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['blackNotHispanic'].controls['uninsured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Uninsured MOE</label>
																<input type="number" class="form-control" formControlName="uninsuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['blackNotHispanic'].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<hr>
											<div class="countryCatBoxes">
												<h4>Hispanic:</h4>
												<div class="row">
													<div class="col-12 clearfix">
														<div formGroupName="hispanic">
															<div class="form-group ">
																<label>Population</label>
																<input type="number" class="form-control" formControlName="population">
											    				<div *ngIf="f.submitted && addCountryForm.controls['hispanic'].controls['population'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured</label>
																<input type="number" class="form-control" formControlName="insured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['hispanic'].controls['insured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Insured MOE</label>
																<input type="number" class="form-control" formControlName="insuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['hispanic'].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Unnsured</label>
																<input type="number" class="form-control" formControlName="uninsured">
											    				<div *ngIf="f.submitted && addCountryForm.controls['hispanic'].controls['uninsured'].hasError('required')" class="help-block">Required</div>
															</div>
															<div class="form-group">
																<label>Uninsured MOE</label>
																<input type="number" class="form-control" formControlName="uninsuredMoe">
											    				<div *ngIf="f.submitted && addCountryForm.controls['hispanic'].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--.Races/Ethnicities category row-->
							<input type="hidden" name="userid" formControlName="userid">
							<button class="btn btn-secondary btn-lg mt-3">Submit</button>
						</form>
					</div>
				</div>
			</div>

		</main>
		<!--/.main-->
	</div>
</div>