<app-after-login></app-after-login>
<div class="container-fluid">
    <div class="row">
      	<app-sidebar></app-sidebar> 
      	<!--.main-->
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<div class="loader" *ngIf="loading" >
				<img src="../../assets/images/loader.gif" />
			</div>
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
				<h1 class="h2">Country List <a routerLink="/add-country" class="btn btn-secondary btn-md">Add new country</a></h1>
			</div>

			<!--.row-->
			<div class="row">
				<div class="col">
					<div class="card mb-4">
						<div class="card-header">Country list</div>
						<div class="cord-body">
							<div class="alert alert-danger" *ngIf="errorMsg != ''">{{errorMsg}}</div>
							<div class="alert alert-success" *ngIf="successMsg != ''">{{successMsg}}</div>
							<div class="table-responsive">
								<table class="table table-hover table-striped">
									<thead id="country-list-table" class="thead-light">
										<tr>
											<th>County ID</th>
											<th>County</th>
											<th>Population</th>
											<th>Insured</th>
											<th>Insured MOE</th>
											<th>Uninsured</th>
											<th>Uninsured MOE</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor=" let country of pagedItems; let rowIndex = index;">
											<td>{{country.id}}</td>
											<td>{{country.name}}</td>
											<td>{{country.population}}</td>
											<td>{{country.insured}}</td>
											<td>{{country.insured_moe}}</td>
											<td>{{country.uninsured}}</td>
											<td>{{country.uninsured_moe}}</td>
											<td>
												<a routerLink="/edit-country/{{country.id}}" class="edit-td btn btn-sm btn-outline-info">
													<i class="fa fa-pencil-alt"></i>
												</a>
												<a (click)="deleteCountry($event, country.id, country)" href="#" class="delete-item btn btn-sm btn-outline-danger">
													<i class="fa fa-trash-alt"></i>
												</a>
												<a routerLink="/country/{{country.id}}" class="edit-td btn btn-sm btn-outline-success">
													<i class="fa fa-eye"></i>
												</a>
											</td>
										</tr>
									</tbody>
								</table>	
							</div>							
						</div>
					</div>    

					<!-- pager -->
			          <nav aria-label="Page navigation example">
			            <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-end">
			                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
			                    <a class="page-link" (click)="setPage(1)">First</a>
			                </li>
			                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
			                    <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
			                </li>
			                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
			                    <a class="page-link" (click)="setPage(page)">{{page}}</a>
			                </li>
			                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
			                    <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
			                </li>
			                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
			                    <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
			                </li>
			            </ul>
			          </nav>  		
				</div>
			</div>
			<!--/.row-->
		</main>
		<!--/.main--> 
    </div>
</div>