<app-after-login></app-after-login>
<div class="container-fluid">
	<div class="row">
		<app-sidebar></app-sidebar>  
		<!--.main-->
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<div class="loader" *ngIf="loading" >
				<img src="../../assets/images/loader.gif" />
			</div>
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
				<h1 class="h2">Edit Country: {{countryInfo && countryInfo[0].name}}</h1>
			</div>

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
					<li class="breadcrumb-item" *ngIf="currentUser && currentUser.role == 'admin'"><a routerLink="/countrylist">Country List</a></li>
					<li class="breadcrumb-item active" aria-current="page">Add Country</li>
				</ol>
			</nav>

			<div id="add-country-details" class="mb-5">
				<div class="alert alert-danger" *ngIf="errorMsg && errorMsg != ''">{{errorMsg}}</div>
				<div class="alert alert-danger" *ngIf="nopermission">You can't edit other country information</div>
				<div class="alert alert-success" *ngIf="successMsg && successMsg != ''">{{successMsg}}</div>
				<form [formGroup]="addCountryForm" (ngSubmit)="updateCountry()" #f="ngForm" novalidate *ngIf="!nopermission">
					<!--.row-->
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="countryname">Country</label>
								<input type="text" class="form-control" placeholder="Enter country" formControlName="countryname" [(ngModel)]="countryInfo && countryInfo[0].name">
								<div *ngIf="f.submitted && addCountryForm.controls['countryname'].hasError('required')" class="help-block">This is required</div>

								<div *ngIf="addCountryForm.controls['countryname'].hasError('minlength')" class="help-block">Enter minimum 4 characters</div>

								<div *ngIf="addCountryForm.controls['countryname'].hasError('maxlength')" class="help-block">Enter lessthan 20 characters</div>

								<div *ngIf="addCountryForm.controls['countryname'].hasError('pattern')" class="help-block">Enter only alphabetical characters</div>										
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="population">Population</label>
								<input type="text" class="form-control" placeholder="Enter population" formControlName="population" [(ngModel)]="countryInfo && countryInfo[0].population">	
								<div *ngIf="f.submitted && addCountryForm.controls['population'].hasError('required')" class="help-block">This is required</div>
								<div *ngIf="addCountryForm.controls['population'].hasError('pattern')" class="help-block">Enter number only</div>										
							</div>
						</div>
					</div>
					<!--/.row-->

					<!--.row-->
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="insured">Insured</label>
								<input type="text" class="form-control" placeholder="Enter insured" formControlName="insured" [(ngModel)]="countryInfo && countryInfo[0].insured">	
								<div *ngIf="f.submitted && addCountryForm.controls['insured'].hasError('required')" class="help-block">This is required</div>	
								<div *ngIf="addCountryForm.controls['insured'].hasError('pattern')" class="help-block">Enter number only</div>								
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="uninsured">Uninsured</label>
								<input type="text" class="form-control" placeholder="Enter uninsured" formControlName="uninsured" [(ngModel)]="countryInfo && countryInfo[0].uninsured">
								<div *ngIf="f.submitted && addCountryForm.controls['uninsured'].hasError('required')" class="help-block">This is required</div>	
								<div *ngIf="addCountryForm.controls['uninsured'].hasError('pattern')" class="help-block">Enter number only</div>
							</div>
						</div>
					</div>
					<!--/.row-->

					<!--.row-->
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="insuredmoe">Insured MOE</label>
								<input type="text" class="form-control" placeholder="Enter insured moe" formControlName="insuredmoe" [(ngModel)]="countryInfo && countryInfo[0].insured_moe">
								<div *ngIf="f.submitted && addCountryForm.controls['insuredmoe'].hasError('required')" class="help-block">This is required</div>	
								<div *ngIf="addCountryForm.controls['insuredmoe'].hasError('pattern')" class="help-block">Enter number only</div>								
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="uninsuredmoe">Uninsured MOE</label>
								<input type="text" class="form-control" placeholder="Enter uninsured moe" formControlName="uninsuredmoe" [(ngModel)]="countryInfo && countryInfo[0].uninsured_moe">
								<div *ngIf="f.submitted && addCountryForm.controls['uninsuredmoe'].hasError('required')" class="help-block">This is required</div>	
								<div *ngIf="addCountryForm.controls['uninsuredmoe'].hasError('pattern')" class="help-block">Enter number only</div>										
							</div>
						</div>
					</div>
					<!--/.row-->
					
					<!--.Age row-->
					<div class="row mb-3">
						<div class="col-12">
							<div class="card">
								<div class="card-header">Age Category</div>
								<div class="card-body">
									<div *ngIf="ageCatgory && ageCatgory != ''">
										<div class="countryCatBoxes" *ngFor="let ageItem of ageCatgory; let i = index; let last = last;">
											<h4>{{ageItem.category_label}}:</h4>
											<div class="row">
												<div class="col-12 clearfix">
													<div formGroupName="{{ageItem.category}}">
														<div class="form-group ">
															<label>Population</label>
															<input type="number" class="form-control" formControlName="population" [(ngModel)]="ageItem.population">
										    				<div *ngIf="f.submitted && addCountryForm.controls[ageItem.category].controls['population'].hasError('required')" class="help-block">Required</div>
														</div>
														<div class="form-group">
															<label>Insured</label>
															<input type="number" class="form-control" formControlName="insured" [(ngModel)]="ageItem.insured">
										    				<div *ngIf="f.submitted && addCountryForm.controls[ageItem.category].controls['insured'].hasError('required')" class="help-block">Required</div>
														</div>
														<div class="form-group">
															<label>Insured MOE</label>
															<input type="number" class="form-control" formControlName="insuredMoe" [(ngModel)]="ageItem.insured_moe">
										    				<div *ngIf="f.submitted && addCountryForm.controls[ageItem.category].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
														</div>
														<div class="form-group">
															<label>Unnsured</label>
															<input type="number" class="form-control" formControlName="uninsured" [(ngModel)]="ageItem.uninsured">
										    				<div *ngIf="f.submitted && addCountryForm.controls[ageItem.category].controls['uninsured'].hasError('required')" class="help-block">Required</div>
														</div>
														<div class="form-group">
															<label>Uninsured MOE</label>
															<input type="number" class="form-control" formControlName="uninsuredMoe" [(ngModel)]="ageItem.uninsured_moe">
										    				<div *ngIf="f.submitted && addCountryForm.controls[ageItem.category].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
														</div>
													</div>
												</div>
											</div>
											<hr *ngIf="!last">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/.Age row-->

					<!--.Income row-->
					<div class="row mb-3">
						<div class="col-12">
							<div class="card">
								<div class="card-header">Income Category</div>
								<div class="card-body">
									<div *ngIf="incomeCatgory && incomeCatgory != ''">
										<div class="countryCatBoxes" *ngFor="let incomeItem of incomeCatgory; let i = index; let last = last;">
											<h4>{{incomeItem.category_label}}:</h4>
											<div class="row">
												<div class="col-12 clearfix">
													<div formGroupName="{{incomeItem.category}}">
														<div class="form-group ">
															<label>Population</label>
															<input type="number" class="form-control" formControlName="population" [(ngModel)]="incomeItem.population">
										    				<div *ngIf="f.submitted && addCountryForm.controls[incomeItem.category].controls['population'].hasError('required')" class="help-block">Required</div>
														</div>
														<div class="form-group">
															<label>Insured</label>
															<input type="number" class="form-control" formControlName="insured" [(ngModel)]="incomeItem.insured">
										    				<div *ngIf="f.submitted && addCountryForm.controls[incomeItem.category].controls['insured'].hasError('required')" class="help-block">Required</div>
														</div>
														<div class="form-group">
															<label>Insured MOE</label>
															<input type="number" class="form-control" formControlName="insuredMoe" [(ngModel)]="incomeItem.insured_moe">
										    				<div *ngIf="f.submitted && addCountryForm.controls[incomeItem.category].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
														</div>
														<div class="form-group">
															<label>Unnsured</label>
															<input type="number" class="form-control" formControlName="uninsured" [(ngModel)]="incomeItem.uninsured">
										    				<div *ngIf="f.submitted && addCountryForm.controls[incomeItem.category].controls['uninsured'].hasError('required')" class="help-block">Required</div>
														</div>
														<div class="form-group">
															<label>Uninsured MOE</label>
															<input type="number" class="form-control" formControlName="uninsuredMoe" [(ngModel)]="incomeItem.uninsured_moe">
										    				<div *ngIf="f.submitted && addCountryForm.controls[incomeItem.category].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
														</div>
													</div>
												</div>
											</div>
											<hr *ngIf="!last">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/.Income row-->

					<!--.Gender row -->
					<div class="row mb-3">
						<div class="col-12">
							<div class="card">
								<div class="card-header">Gender Category</div>
								<div class="card-body">
									<div *ngIf="sexCatgory && sexCatgory != ''">
										<div class="countryCatBoxes" *ngFor="let sexItem of sexCatgory; let i = index; let last = last;">
											<h4>{{sexItem.category_label}}:</h4>
											<div class="row">
												<div class="col-12 clearfix">
													<div formGroupName="{{sexItem.category}}"> 
														<div class="form-group ">
															<label>Population</label>
															<input type="number" class="form-control" formControlName="population" [(ngModel)]="sexItem.population">
										    				<div *ngIf="f.submitted && addCountryForm.controls[sexItem.category].controls['population'].hasError('required')" class="help-block">Required</div>
														</div>
														<div class="form-group">
															<label>Insured</label>
															<input type="number" class="form-control" formControlName="insured" [(ngModel)]="sexItem.insured">
										    				<div *ngIf="f.submitted && addCountryForm.controls[sexItem.category].controls['insured'].hasError('required')" class="help-block">Required</div>
														</div>
														<div class="form-group">
															<label>Insured MOE</label>
															<input type="number" class="form-control" formControlName="insuredMoe" [(ngModel)]="sexItem.insured_moe">
										    				<div *ngIf="f.submitted && addCountryForm.controls[sexItem.category].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
														</div>
														<div class="form-group">
															<label>Unnsured</label>
															<input type="number" class="form-control" formControlName="uninsured" [(ngModel)]="sexItem.uninsured">
										    				<div *ngIf="f.submitted && addCountryForm.controls[sexItem.category].controls['uninsured'].hasError('required')" class="help-block">Required</div>
														</div>
														<div class="form-group">
															<label>Uninsured MOE</label>
															<input type="number" class="form-control" formControlName="uninsuredMoe" [(ngModel)]="sexItem.uninsured_moe">
										    				<div *ngIf="f.submitted && addCountryForm.controls[sexItem.category].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
														</div>
													</div>
												</div>
											</div>
											<hr *ngIf="!last">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--.Gender row-->

					<!--.Races/Ethnicities category row -->
					<div class="row mb-3">
						<div class="col-12">
							<div class="card">
								<div class="card-header">Races/Ethnicities Category</div>
								<div class="card-body">
									<div *ngIf="racesEthnicitiesCatgory && racesEthnicitiesCatgory != ''">
										<div class="countryCatBoxes" *ngFor="let racesEthnicitiesItem of racesEthnicitiesCatgory; let i = index; let last = last;">
											<h4>{{racesEthnicitiesItem.category_label}}:</h4>
											<div class="row">
												<div class="col-12 clearfix">
													<div formGroupName="{{racesEthnicitiesItem.category}}"> 
														<div class="form-group">
															<label>Population</label>
															<input type="number" class="form-control" formControlName="population" [(ngModel)]="racesEthnicitiesItem.population">
										    				<div *ngIf="f.submitted && addCountryForm.controls[racesEthnicitiesItem.category].controls['population'].hasError('required')" class="help-block">Required</div>
														</div>
														<div class="form-group">
															<label>Insured</label>
															<input type="number" class="form-control" formControlName="insured" [(ngModel)]="racesEthnicitiesItem.insured">
										    				<div *ngIf="f.submitted && addCountryForm.controls[racesEthnicitiesItem.category].controls['insured'].hasError('required')" class="help-block">Required</div>
														</div>
														<div class="form-group">
															<label>Insured MOE</label>
															<input type="number" class="form-control" formControlName="insuredMoe" [(ngModel)]="racesEthnicitiesItem.insured_moe">
										    				<div *ngIf="f.submitted && addCountryForm.controls[racesEthnicitiesItem.category].controls['insuredMoe'].hasError('required')" class="help-block">Required</div>
														</div>
														<div class="form-group">
															<label>Unnsured</label>
															<input type="number" class="form-control" formControlName="uninsured" [(ngModel)]="racesEthnicitiesItem.uninsured">
										    				<div *ngIf="f.submitted && addCountryForm.controls[racesEthnicitiesItem.category].controls['uninsured'].hasError('required')" class="help-block">Required</div>
														</div>
														<div class="form-group">
															<label>Uninsured MOE</label>
															<input type="number" class="form-control" formControlName="uninsuredMoe" [(ngModel)]="racesEthnicitiesItem.uninsured_moe">
										    				<div *ngIf="f.submitted && addCountryForm.controls[racesEthnicitiesItem.category].controls['uninsuredMoe'].hasError('required')" class="help-block">Required</div>
														</div>
													</div>
												</div>
											</div>
											<hr *ngIf="!last">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--.Races/Ethnicities category row-->
					<input type="hidden" name="userid" formControlName="userid" [(ngModel)]="currentUserID">
					<input type="hidden" name="userid" formControlName="countryid" [(ngModel)]="currentCountryID">
					<button class="btn btn-secondary btn-lg mt-3">Submit</button>
				</form>
			</div>
		</main>
		<!--/.main-->
	</div>
</div>