@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i|Roboto');
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 56px;
  font-size: .875rem;
  font-family: 'Roboto', sans-serif;
}

a,
a:active,
a:hover{
  color: #23b7e5;
}

.help-block{
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.h2{
  border-left: 5px solid #23b7e5;
  padding-left: 10px;
  margin-bottom: 0;
}

.form-control,
.btn,
.breadcrumb{
  border-radius: 0;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  padding: 1rem 1rem;
  font-size: 16px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
  width: 24px;
  height: 24px;
}

.sidebar .nav-link.active {
  color: #ffffff;
  background: #23b7e5;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

/*
 * Nav CSS
 */
 #settings-dropdown.dropdown-menu{
  right: 0;
  left: auto;
  top: 120%;
 }

/*
 * Nav CSS
 */
#stats-section .card .card-body dl dt,
#stats-section .card .card-body dl dd{
  font-size: 20px;
  width: 55%;
}

#stats-section .card .card-body dl dt{
  width: 45%;
}

.repeat,
.close-repeating-div{
  padding:.35rem .6rem;
}

.sub-section{
  padding: 15px;
  background: #f8f8f8;
}
main{
  position: relative;
}
main .card,
main .card .card-body,
.page-item:first-child .page-link,
.page-item:last-child .page-link{
  border-radius: 0;
}

main .card .card-header{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 0;
  background: #23b7e5;
  color: #fff;
  border-color: #23b7e5;
}

.page-link:hover,
.page-link{
  color: #23b7e5;
}

#stats-section .card .card-header{
  background: transparent;
  border-color: #ffffff3b;
}

.justify-content-between .btn .feather.feather-edit{
  width: 24px;
  height: 24px;
}

.dropdown-item.active, 
.dropdown-item:active{
  background: #23b7e5;
}

#stats-section p{
  font-size: 16px;
}

.country-list-table tr th,
.country-list-table tr td{
  min-width: 100px;
}
.loader{
  position: absolute;
  background: #ffffffab;
  width: 100%;
  height: 100%;
  z-index: 2;
  text-align: center;
}
.countryCatBoxes .form-group{
  width: 150px;
  float: left;
  margin-right: 15px;
}
@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--gray-dark);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }

  .repeating-div{
    margin-bottom: 1rem;
  }

  .close-repeating-div{
    margin-top: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {

}
@media (min-width: 768px) and (max-width: 991.98px) {
  .sidebar{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 24.666667%;
    flex: 0 0 24.666667%;
    max-width: 24.666667%;
  }
  #stats-section p,
  main .card .card-header{
    font-size: 13px;
  }
}

@media (min-width: 576px) and (max-width: 1199.98px) {
  .repeating-div .row .col-sm-4,
  .repeating-div .row .col-sm-6,
  .repeating-div .row .col-sm-2{
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .close-repeating-div{
    margin-top: 5px;
  }
}