<nav class="col-md-2 d-none d-md-block bg-light sidebar" *ngIf="currentUserRole && currentUserRole == 'admin'">
	<div class="sidebar-sticky">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" routerLink="/"  [ngClass]="currentUrl.endsWith('/')?'active':''">
					<i class="fa fa-home"></i>
					Dashboard
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/insured" [ngClass]="currentUrl.endsWith('/insured')?'active':''">
					<i class="fa fa-user-times"></i>
					Insured
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/uninsured" [ngClass]="currentUrl.endsWith('/uninsured')?'active':''">
					<i class="fa fa-user-plus"></i>
					Uninsured
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/countrylist" [ngClass]="{'active': currentUrl.endsWith('/countrylist'), 'active': countryActive}">
					<i class="fa fa-globe"></i>
					Country List
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/reports" [ngClass]="currentUrl.endsWith('/reports')?'active':''">
					<i class="fa fa-chart-bar"></i>
					Reports
				</a>
			</li>
		</ul>
	</div>
</nav>

<nav class="col-md-2 d-none d-md-block bg-light sidebar" *ngIf="currentUserRole && currentUserRole == 'subscriber'">
	<div class="sidebar-sticky">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link" routerLink="/user-dashboard"  [ngClass]="currentUrl.endsWith('/user-dashboard')?'active':''">
					<i class="fa fa-home"></i>
					Dashboard
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/edit-country/{{currentUser.user_country_id}}" [ngClass]="{'active': currentUrl.endsWith('/edit-country'), 'active': countryActive}">
					<i class="fa fa-globe"></i>
					Country
				</a>
			</li>
		</ul>
	</div>
</nav>