  <app-after-login></app-after-login>
  <div class="container-fluid">
    <div class="row">
      <app-sidebar></app-sidebar>  

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="loader" *ngIf="loading" >
          <img src="../../assets/images/loader.gif" />
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard </h1>
        </div>


        <div id="stats-section" class="row mb-3">
          <div class="col-md-4">
            <div class="card text-white bg-info mb-3">
              <div class="card-header text-uppercase"><b>Population</b></div>
              <div class="card-body">
                <h1><i class="fa fa-users"></i> {{dashboardstats && dashboardstats[0].population}}</h1>
              </div>
            </div>
          </div>            
          <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
              <div class="card-header text-uppercase"><b>Insured</b></div>
              <div class="card-body">
                <h1><i class="fa fa-users"></i> {{dashboardstats && dashboardstats[0].insured}}</h1>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card text-white bg-danger mb-3">
              <div class="card-header text-uppercase"><b>Uninsured</b></div>
              <div class="card-body">
                <h1><i class="fa fa-users"></i> {{dashboardstats && dashboardstats[0].uninsured}}</h1>
              </div>
            </div>
          </div>
        </div>


        <h2>Census Data</h2>
        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead id="country-list-table" class="thead-light">
              <tr>
                <th>#</th>
                <th>County ID</th>
                <th>County</th>
                <th>Population</th>
                <th>Insured</th>
                <th>Insured MOE</th>
                <th>Uninsured</th>
                <th>Uninsured MOE</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor=" let country of pagedItems; let i = index">
                <td>{{i + 1}}</td>
                <td>{{country.id}}</td>
                <td>{{country.name}}</td>
                <td>{{country.population}}</td>
                <td>{{country.insured}}</td>
                <td>{{country.insured_moe}}</td>
                <td>{{country.uninsured}}</td>
                <td>{{country.uninsured_moe}}</td>
                <td>
                  <a routerLink="/edit-country/{{country.id}}" class="edit-td btn btn-sm btn-outline-info">
                    <i class="fa fa-pencil-alt"></i>
                  </a>
                  <!-- <a (click)="deleteCountry($event, country.id, i)" href="#" class="delete-item btn btn-sm btn-outline-danger">
                    <i class="fa fa-trash-alt"></i>
                  </a> -->
                  <a routerLink="/country/{{country.id}}" class="edit-td btn btn-sm btn-outline-success">
                    <i class="fa fa-eye"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>  

          <!-- pager -->
          <nav aria-label="Page navigation example">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-end">
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(1)">First</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                    <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
                </li>
                <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a class="page-link" (click)="setPage(page)">{{page}}</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
                </li>
                <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
                </li>
            </ul>
          </nav>

        </div>
      </main>
    </div>
  </div>