  <app-after-login></app-after-login>
  <div class="container-fluid">
    <div class="row">
      <app-sidebar></app-sidebar>  

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="loader" *ngIf="loading" >
          <img src="../../assets/images/loader.gif" />
        </div>
        <div *ngIf="this.currentUserCountryID == 0" class="alert alert-danger">There is no country assgin to you.</div>
        <div  *ngIf="this.currentUserCountryID > 0">
	        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
	          <h1 class="h2">Country: {{dashboardstats && dashboardstats[0].name}} <a routerLink="/edit-country/{{currentUserCountryID}}" class="btn btn-secondary btn-md"><i class="fa fa-edit"></i></a></h1>>
	        </div>

	        <div id="stats-section" class="row mb-3">
	        	<div class="col-md-4">
	        		<div class="card text-white bg-info mb-3">
	        			<div class="card-header text-uppercase"><b>Population</b></div>
	        			<div class="card-body">
	        				<h1><i class="fa fa-users"></i> {{dashboardstats && dashboardstats[0].population}}</h1>
	        			</div>
	        		</div>
	        	</div>            
	        	<div class="col-md-4">
	        		<div class="card text-white bg-success mb-3">
	        			<div class="card-header text-uppercase"><b>Insured</b></div>
	        			<div class="card-body">
	        				<h1><i class="fa fa-users"></i> {{dashboardstats && dashboardstats[0].insured}}</h1>
	        			</div>
	        		</div>
	        	</div>
	        	<div class="col-md-4">
	        		<div class="card text-white bg-danger mb-3">
	        			<div class="card-header text-uppercase"><b>Uninsured</b></div>
	        			<div class="card-body">
	        				<h1><i class="fa fa-users"></i> {{dashboardstats && dashboardstats[0].uninsured}}</h1>
	        			</div>
	        		</div>
	        	</div>
	        </div>

	        <h2>Census Data</h2>
	        <!--.row-->
	        <div class="row" *ngIf="countryinfo && countryinfo.age">
	          <div class="col">
	            <div class="card mb-4">
	              <div class="card-header">Age categories</div>
	              <div class="cord-body">
	                <table class="table table-hover table-striped m-0">
	                  <thead class="thead-light">
	                    <tr>
	                      <th scope="col">#</th>
	                      <th scope="col">Age</th>
	                      <th scope="col">Insured Persons</th>
	                      <th scope="col">Insured Persons MOE</th>
	                      <th scope="col">Uninsured Persons</th>
	                      <th scope="col">Uninsured Persons MOE</th>
	                    </tr>
	                  </thead>
	                  <tbody>
	                    <tr *ngFor="let ageItem of countryinfo.age; let i = index;">
	                      <th scope="row">{{i + 1}}</th>
	                      <td>{{ageItem.category_label}}</td>
	                      <td>{{ageItem.insured}}</td>
	                      <td>{{ageItem.insured_moe}}</td>
	                      <td>{{ageItem.uninsured}}</td>
	                      <td>{{ageItem.uninsured_moe}}</td>
	                    </tr>
	                  </tbody>
	                </table>
	              </div>
	            </div>              
	          </div>
	        </div>
	        <!--/.row-->

	        <!--.row-->
	        <div class="row" *ngIf="countryinfo && countryinfo.sex">
	          <div class="col">
	            <div class="card mb-4">
	              <div class="card-header">Sex categories</div>
	              <div class="cord-body">
	                <table class="table table-hover table-striped m-0">
	                  <thead class="thead-light">
	                    <tr>
	                      <th scope="col">#</th>
	                      <th scope="col">Sex</th>
	                      <th scope="col">Insured Persons</th>
	                      <th scope="col">Insured Persons MOE</th>
	                      <th scope="col">Uninsured Persons</th>
	                      <th scope="col">Uninsured Persons MOE</th>
	                    </tr>
	                  </thead>
	                  <tbody>
	                    <tr *ngFor="let sexItem of countryinfo.sex; let i = index;">
	                      <th scope="row">{{i + 1}}</th>
	                      <td>{{sexItem.category_label}}</td>
	                      <td>{{sexItem.insured}}</td>
	                      <td>{{sexItem.insured_moe}}</td>
	                      <td>{{sexItem.uninsured}}</td>
	                      <td>{{sexItem.uninsured_moe}}</td>
	                    </tr>
	                  </tbody>
	                </table>
	              </div>
	            </div>              
	          </div>
	        </div>
	        <!--/.row-->

	        <!--.row-->
	        <div class="row" *ngIf="countryinfo && countryinfo.income">
	          <div class="col">
	            <div class="card mb-4">
	              <div class="card-header">Income categories</div>
	              <div class="cord-body">
	                <table class="table table-hover table-striped m-0">
	                  <thead class="thead-light">
	                    <tr>
	                      <th scope="col">#</th>
	                      <th scope="col">Incomes</th>
	                      <th scope="col">Insured Persons</th>
	                      <th scope="col">Insured Persons MOE</th>
	                      <th scope="col">Uninsured Persons</th>
	                      <th scope="col">Uninsured Persons MOE</th>
	                    </tr>
	                  </thead>
	                  <tbody>
	                    <tr *ngFor="let incomeItem of countryinfo.income; let i = index;">
	                      <th scope="row">{{i + 1}}</th>
	                      <td>{{incomeItem.category_label}}</td>
	                      <td>{{incomeItem.insured}}</td>
	                      <td>{{incomeItem.insured_moe}}</td>
	                      <td>{{incomeItem.uninsured}}</td>
	                      <td>{{incomeItem.uninsured_moe}}</td>
	                    </tr>
	                  </tbody>
	                </table>
	              </div>
	            </div>              
	          </div>
	        </div>
	        <!--/.row-->

	        <!--.row-->
	        <div class="row" *ngIf="countryinfo && countryinfo.races_ethnicities">
	          <div class="col">
	            <div class="card mb-4">
	              <div class="card-header">Income categories</div>
	              <div class="cord-body">
	                <table class="table table-hover table-striped m-0">
	                  <thead class="thead-light">
	                    <tr>
	                      <th scope="col">#</th>
	                      <th scope="col">Races/Ethnicities</th>
	                      <th scope="col">Insured Persons</th>
	                      <th scope="col">Insured Persons MOE</th>
	                      <th scope="col">Uninsured Persons</th>
	                      <th scope="col">Uninsured Persons MOE</th>
	                    </tr>
	                  </thead>
	                  <tbody>
	                    <tr *ngFor="let reItem of countryinfo.races_ethnicities; let i = index;">
	                      <th scope="row">{{i + 1}}</th>
	                      <td>{{reItem.category_label}}</td>
	                      <td>{{reItem.insured}}</td>
	                      <td>{{reItem.insured_moe}}</td>
	                      <td>{{reItem.uninsured}}</td>
	                      <td>{{reItem.uninsured_moe}}</td>
	                    </tr>
	                  </tbody>
	                </table>
	              </div>
	            </div>              
	          </div>
	        </div>
	        <!--/.row-->

	        <!--.row-->
	        <div class="row">
	          <div class="col">
	            <div class="card mb-4">
	              <div class="card-header">Estimates for age category 0-18 by the income categories</div>
	              <div class="cord-body">
	                <table class="table table-hover table-striped m-0">
	                  <thead class="thead-light">
	                    <tr>
	                      <th scope="col">#</th>
	                      <th scope="col">Incomes</th>
	                      <th scope="col">Insured Persons</th>
	                      <th scope="col">Insured Persons MOE</th>
	                      <th scope="col">Uninsured Persons</th>
	                      <th scope="col">Uninsured Persons MOE</th>
	                    </tr>
	                  </thead>
	                  <tbody>
	                    <tr>
	                      <th scope="row">1</th>
	                      <td>0-138%</td>
	                      <td>600</td>
	                      <td>15</td>
	                      <td>600</td>
	                      <td>15</td>
	                    </tr>
	                    <tr>
	                      <th scope="row">2</th>
	                      <td>0-200%</td>
	                      <td>1500</td>
	                      <td>45</td>
	                      <td>600</td>
	                      <td>15</td>
	                    </tr>
	                    <tr>
	                      <th scope="row">3</th>
	                      <td>0-250%</td>
	                      <td>7955</td>
	                      <td>56</td>
	                      <td>600</td>
	                      <td>15</td>
	                    </tr>
	                    <tr>
	                      <th scope="row">4</th>
	                      <td>0-400%</td>
	                      <td>8547</td>
	                      <td>25</td>
	                      <td>600</td>
	                      <td>15</td>
	                    </tr>
	                    <tr>
	                      <th scope="row">5</th>
	                      <td>138-400%</td>
	                      <td>8547</td>
	                      <td>25</td>
	                      <td>600</td>
	                      <td>15</td>
	                    </tr>
	                  </tbody>
	                </table>
	              </div>
	            </div>              
	          </div>
	        </div>
	        <!--/.row-->
        </div>
      </main>
    </div>
  </div>