<app-after-login></app-after-login>
<div class="container-fluid">
	<div class="row">
		<app-sidebar></app-sidebar>
		<!--.main-->
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<div class="loader" *ngIf="loading" >
				<img src="../../assets/images/loader.gif" />
			</div>
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
				<h1 class="h2">
					Country: {{countryInfo && countryInfo[0].name}} 
					<a routerLink="/edit-country/{{currentCountryID}}" class="btn btn-secondary btn-md">
						<i class="fa fa-pencil-alt"></i>
					</a>
				</h1>
			</div>

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a routerLink="/">Dashboard</a></li>
					<li class="breadcrumb-item"><a routerLink="/countrylist">Country List</a></li>
					<li class="breadcrumb-item active" aria-current="page">Country</li>
				</ol>
			</nav>

			<div id="stats-section" class="row mb-3">
				<div class="col-md-4">
					<div class="card text-white bg-info mb-3">
						<div class="card-header text-uppercase"><b>Population</b></div>
						<div class="card-body">
							<h1><i class="fa fa-users"></i> {{countryInfo && countryInfo[0].population}}</h1>
						</div>
					</div>
				</div>            
				<div class="col-md-4">
					<div class="card text-white bg-success mb-3">
						<div class="card-header text-uppercase"><b>Insured</b></div>
						<div class="card-body">
							<h1><i class="fa fa-users"></i> {{countryInfo && countryInfo[0].insured}}</h1>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-white bg-danger mb-3">
						<div class="card-header text-uppercase"><b>Uninsured</b></div>
						<div class="card-body">
							<h1><i class="fa fa-users"></i> {{countryInfo && countryInfo[0].uninsured}}</h1>
						</div>
					</div>
				</div>
			</div>


			<h2>Census Data</h2>
			<!--.row-->
			<div class="row" *ngIf="ageCatgory">
				<div class="col">
					<div class="card mb-4">
						<div class="card-header">Age categories</div>
						<div class="cord-body">
							<div class="table-responsive">
								<table class="table table-hover table-striped m-0">
									<thead class="thead-light">
										<tr>
											<th scope="col">#</th>
											<th scope="col">Age</th>
											<th scope="col">Insured Persons</th>
											<th scope="col">Insured Persons MOE</th>
											<th scope="col">Uninsured Persons</th>
											<th scope="col">Uninsured Persons MOE</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let ageInfo of ageCatgory; let i = index">
											<th scope="row">{{i + 1}}</th>
											<td>{{ageInfo.category_label}}</td>
											<td>{{ageInfo.insured}}</td>
											<td>{{ageInfo.insured_moe}}</td>
											<td>{{ageInfo.uninsured}}</td>
											<td>{{ageInfo.uninsured_moe}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>              
				</div>
			</div>
			<!--/.row-->

			<!--.row-->
			<div class="row" *ngIf="sexCatgory">
				<div class="col">
					<div class="card mb-4">
						<div class="card-header">Sex categories</div>
						<div class="cord-body">
							<div class="table-responsive">
								<table class="table table-hover table-striped m-0">
									<thead class="thead-light">
										<tr>
											<th scope="col">#</th>
											<th scope="col">Sex</th>
											<th scope="col">Insured Persons</th>
											<th scope="col">Insured Persons MOE</th>
											<th scope="col">Uninsured Persons</th>
											<th scope="col">Uninsured Persons MOE</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let sexInfo of sexCatgory; let i = index">
											<th scope="row">{{i + 1}}</th>
											<td>{{sexInfo.category_label}}</td>
											<td>{{sexInfo.insured}}</td>
											<td>{{sexInfo.insured_moe}}</td>
											<td>{{sexInfo.uninsured}}</td>
											<td>{{sexInfo.uninsured_moe}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>              
				</div>
			</div>
			<!--/.row-->

			<!--.row-->
			<div class="row" *ngIf="incomeCatgory">
				<div class="col">
					<div class="card mb-4">
						<div class="card-header">Income categories</div>
						<div class="cord-body">
							<div class="table-responsive">
								<table class="table table-hover table-striped m-0">
									<thead class="thead-light">
										<tr>
											<th scope="col">#</th>
											<th scope="col">Incomes</th>
											<th scope="col">Insured Persons</th>
											<th scope="col">Insured Persons MOE</th>
											<th scope="col">Uninsured Persons</th>
											<th scope="col">Uninsured Persons MOE</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let incomeInfo of incomeCatgory; let i = index">
											<th scope="row">{{i + 1}}</th>
											<td>{{incomeInfo.category_label}}%</td>
											<td>{{incomeInfo.insured}}</td>
											<td>{{incomeInfo.insured_moe}}</td>
											<td>{{incomeInfo.uninsured}}</td>
											<td>{{incomeInfo.uninsured_moe}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>              
				</div>
			</div>
			<!--.row-->

			<!--/.row-->
			<div class="row" *ngIf="racesEthnicitiesCatgory">
				<div class="col">
					<div class="card mb-4">
						<div class="card-header">Races/Ethnicities categories</div>
						<div class="cord-body">
							<div class="table-responsive">
								<table class="table table-hover table-striped m-0">
									<thead class="thead-light">
										<tr>
											<th scope="col">#</th>
											<th scope="col">Races/Ethnicities</th>
											<th scope="col">Insured Persons</th>
											<th scope="col">Insured Persons MOE</th>
											<th scope="col">Uninsured Persons</th>
											<th scope="col">Uninsured Persons MOE</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let reInfo of racesEthnicitiesCatgory; let i = index">
											<th scope="row">{{i + 1}}</th>
											<td>{{reInfo.category_label}}</td>
											<td>{{reInfo.insured}}</td>
											<td>{{reInfo.insured_moe}}</td>
											<td>{{reInfo.uninsured}}</td>
											<td>{{reInfo.uninsured_moe}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>              
				</div>
			</div>
			<!--/.row-->

			<!--.row-->
			<div class="row">
				<div class="col">
					<div class="card mb-4">
						<div class="card-header">Estimates for age category 0-18 by the income categories</div>
						<div class="cord-body">
							<div class="table-responsive">
								<table class="table table-hover table-striped m-0">
									<thead class="thead-light">
										<tr>
											<th scope="col">#</th>
											<th scope="col">Incomes</th>
											<th scope="col">Insured Persons</th>
											<th scope="col">Insured Persons MOE</th>
											<th scope="col">Uninsured Persons</th>
											<th scope="col">Uninsured Persons MOE</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th scope="row">1</th>
											<td>0-138%</td>
											<td>600</td>
											<td>15</td>
											<td>600</td>
											<td>15</td>
										</tr>
										<tr>
											<th scope="row">2</th>
											<td>0-200%</td>
											<td>1500</td>
											<td>45</td>
											<td>600</td>
											<td>15</td>
										</tr>
										<tr>
											<th scope="row">3</th>
											<td>0-250%</td>
											<td>7955</td>
											<td>56</td>
											<td>600</td>
											<td>15</td>
										</tr>
										<tr>
											<th scope="row">4</th>
											<td>0-400%</td>
											<td>8547</td>
											<td>25</td>
											<td>600</td>
											<td>15</td>
										</tr>
										<tr>
											<th scope="row">5</th>
											<td>138-400%</td>
											<td>8547</td>
											<td>25</td>
											<td>600</td>
											<td>15</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>              
				</div>
			</div>
			<!--/.row-->
		</main>
		<!--/.main-->
	</div>
</div>