  <app-after-login></app-after-login>
  <div class="container-fluid">
  	<div class="row">
  		<app-sidebar></app-sidebar>  

  		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  			<div class="loader" *ngIf="loading" >
  				<img src="../../assets/images/loader.gif" />
  			</div>
  			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  				<h1 class="h2">My Account</h1>
  			</div>

  			<div class="row mt-5">
  				<div class="col-6">
  					<div class="alert alert-danger" *ngIf="errorMsg != ''">{{errorMsg}}</div>
        			<div class="alert alert-success" *ngIf="successMsg != ''">{{successMsg}}</div>
  					<form [formGroup]="formData" (ngSubmit)="updateAccount(f)" #f="ngForm" novalidate>
  						<div class="form-group">
  							<label>Email: </label>
  							<b><span *ngIf="returnUserObj && returnUserObj.email">{{returnUserObj.email}}</span></b>
  						</div>

  						<div class="form-group" *ngIf="currentUserID && currentUserID != 1">
  							<label>Country: </label>
  							<b><span *ngIf="returnUserObj && returnUserObj.countryname">{{returnUserObj.countryname}}</span></b>
  						</div>

  						<div class="form-group">
  							<label>Name</label>
  							<input type="text" id="fullname" class="form-control" placeholder="Name" required formControlName="fullname" [(ngModel)]="returnUserObj && returnUserObj.fullname"> 
				      		<div *ngIf="f.submitted && formData.controls['fullname'].hasError('required')" class="help-block">This is required</div>
				    			<div *ngIf="formData.controls['fullname'].hasError('minlength')" class="help-block">Enter minimum 4 characters</div>
				    			<div *ngIf="formData.controls['fullname'].hasError('maxlength')" class="help-block">Enter lessthan 40 characters</div>
				    			<div *ngIf="formData.controls['fullname'].hasError('pattern')" class="help-block">Enter only alphabetical characters</div>
				    			<div class="help-block" *ngIf="formData.controls['fullname'] && formData.controls['fullname'].errors?.emptyValue">Value can't be empty</div>
  						</div>
  						
  						<div class="form-group">
  							<label>Phone</label>
  							<input type="text" name="phone" class="form-control" [(ngModel)]="returnUserObj && returnUserObj.phone" formControlName="phone" placeholder="Phone">
  							<div *ngIf="f.submitted && formData.controls['phone'].hasError('required')" class="help-block">This is required</div>
				            <div class="help-block" *ngIf="formData.controls['phone'].errors?.emptyValue">Value can't be empty</div>
				            <div class="help-block" *ngIf="formData.controls['phone'].errors?.invalidNumber">Invalid phone number</div>
				            <div *ngIf="formData.controls['phone'].hasError('minlength')" class="help-block">Enter minimum 10 numbers</div>
							<div *ngIf="formData.controls['phone'].hasError('maxlength')" class="help-block">Enter lessthan 14 numbers</div>
  						</div>
  						<div class="form-group">
  							<label>City</label>
  							<input type="text" id="city" class="form-control" placeholder="City" formControlName="city" required [(ngModel)]="returnUserObj && returnUserObj.city">
							<div *ngIf="f.submitted && formData.controls['city'].hasError('required')" class="help-block">This is required</div>
				            <div class="help-block" *ngIf="formData.controls['city'].errors?.emptyValue">Value can't be empty</div>
  						</div>
  						<div class="form-group">
  							<label>State</label>
  							<input type="text" id="state" class="form-control" placeholder="State" formControlName="state" required [(ngModel)]="returnUserObj && returnUserObj.state">
							<div *ngIf="f.submitted && formData.controls['state'].hasError('required')" class="help-block">This is required</div>
				            <div class="help-block" *ngIf="formData.controls['state'].errors?.emptyValue">Value can't be empty</div>
  						</div>
  						<div class="form-group">
  							<label>Pincode</label>
  							<input type="text" id="pincode" class="form-control" placeholder="Pincode" formControlName="pincode" required [(ngModel)]="returnUserObj && returnUserObj.pincode">
							<div *ngIf="f.submitted && formData.controls['pincode'].hasError('required')" class="help-block">This is required</div>
				            <div class="help-block" *ngIf="formData.controls['pincode'].errors?.emptyValue">Value can't be empty</div>

				            <div class="help-block" *ngIf="formData.controls['pincode'].errors?.invalidNumber">Invalid pincode</div>

				            <div *ngIf="formData.controls['pincode'].hasError('minlength')" class="help-block">Enter minimum 6 numbers</div>
							<div *ngIf="formData.controls['pincode'].hasError('maxlength')" class="help-block">Enter maximum 6 numbers</div>
  						</div>
  						<input type="hidden" name="userid" formControlName="userid" [(ngModel)]="currentUserID">
  						<input type="hidden" name="type" formControlName="type" required [(ngModel)]="actionType">
  						<div class="form-group">
				            <button [disabled]="loading" class="btn btn-lg btn-info btn-block">Update</button>
				            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
				        </div>
  					</form>
  				</div>
  			</div>
  		</main>
  	</div>
  </div>