<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Inmar</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item d-block d-sm-block d-md-none">
          <a class="nav-link active" routerLink="/">
            <i class="fa fa-home"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item d-block d-sm-block d-md-none">
          <a class="nav-link" routerLink="/insured">
            <i class="fa fa-user-times"></i>
            Insured
          </a>
        </li>
        <li class="nav-item d-block d-sm-block d-md-none">
          <a class="nav-link" routerLink="/uninsured">
            <i class="fa fa-user-plus"></i>
            Uninsured
          </a>
        </li>
        <li class="nav-item d-block d-sm-block d-md-none">
          <a class="nav-link" routerLink="/countrylist">
            <i class="fa fa-map-pin"></i>
            Country List
          </a>
        </li>
        <li class="nav-item d-block d-sm-block d-md-none">
          <a class="nav-link" routerLink="/reports">
            <i class="fa fa-chart-bar"></i>
            Reports
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i> {{currentUser.name}}</a>
          <div id="settings-dropdown" class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" routerLink="/my-account/{{currentUserID}}">My Account</a>
            <a *ngIf="currentUser" class="dropdown-item" routerLink="/logout">Logout</a>
            <a *ngIf="!currentUser" class="dropdown-item" routerLink="/login">Login</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>