<link href="../../../assets/css/login.css" rel="stylesheet">
<div id="before-login">
  <div class="text-center">
  	<form class="form-signin" name="registerForm" [formGroup]="formData" (ngSubmit)="register(f);" #f="ngForm" novalidate>
        <h1 class="h3 mb-3">Register in INMAR</h1>
        <div class="alert alert-danger" *ngIf="errorMsg != ''">{{errorMsg}}</div>
        <div class="alert alert-success" *ngIf="successMsg != ''">{{successMsg}}</div>
        <div class="form-group">
        	<label for="name" class="sr-only">Name</label> 
      		<input type="text" id="fullname" class="form-control" placeholder="Name" required formControlName="fullname"> 
      		<div *ngIf="f.submitted && formData.controls['fullname'].hasError('required')" class="help-block">This is required</div>
    			<div *ngIf="formData.controls['fullname'].hasError('minlength')" class="help-block">Enter minimum 4 characters</div>
    			<div *ngIf="formData.controls['fullname'].hasError('maxlength')" class="help-block">Enter lessthan 40 characters</div>
    			<div *ngIf="formData.controls['fullname'].hasError('pattern')" class="help-block">Enter only alphabetical characters</div>
    			<div class="help-block" *ngIf="formData.controls['fullname'] && formData.controls['fullname'].errors?.emptyValue">Value can't be empty</div>
      	</div>     	

        <div class="form-group">
            <label for="username" class="sr-only">Email</label>
            <input type="text" class="form-control" name="username" formControlName="username" required placeholder="Email"/>
            <div *ngIf="f.submitted && formData.controls['username'].hasError('required')" class="help-block">This is required</div>
            <div class="help-block" *ngIf="formData.controls['username'].errors?.emptyValue">Value can't be empty</div>
            <div class="help-block" *ngIf="formData.controls['username'].errors?.invalidEmailAddress">Please enter a valid email address</div>
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input type="password" class="form-control" name="password" formControlName="password" required placeholder="Password"/>
            <div *ngIf="f.submitted && formData.controls['password'].hasError('required')" class="help-block">This is required</div>
            <div class="help-block" *ngIf="formData.controls['password'].errors?.emptyValue">Value can't be empty</div>
        </div>

        <div class="form-group">
      		<label for="phone" class="sr-only">Phone</label>
      		<input type="text" id="phone" class="form-control" placeholder="Phone" formControlName="phone" required>
      		<div *ngIf="f.submitted && formData.controls['phone'].hasError('required')" class="help-block">This is required</div>
            <div class="help-block" *ngIf="formData.controls['phone'].errors?.emptyValue">Value can't be empty</div>
            <div class="help-block" *ngIf="formData.controls['phone'].errors?.invalidNumber">Invalid phone number</div>
            <div *ngIf="formData.controls['phone'].hasError('minlength')" class="help-block">Enter minimum 10 numbers</div>
			<div *ngIf="formData.controls['phone'].hasError('maxlength')" class="help-block">Enter lessthan 14 numbers</div>
      	</div>

      	<div class="form-group">
			<label for="city" class="sr-only">City</label>
			<input type="text" id="city" class="form-control" placeholder="City" formControlName="city" required>
			<div *ngIf="f.submitted && formData.controls['city'].hasError('required')" class="help-block">This is required</div>
            <div class="help-block" *ngIf="formData.controls['city'].errors?.emptyValue">Value can't be empty</div>
		</div>

		<div class="form-group">
			<label for="state" class="sr-only">State</label>
			<input type="text" id="state" class="form-control" placeholder="State" formControlName="state" required>
			<div *ngIf="f.submitted && formData.controls['state'].hasError('required')" class="help-block">This is required</div>
            <div class="help-block" *ngIf="formData.controls['state'].errors?.emptyValue">Value can't be empty</div>
		</div>

		<div class="form-group">
			<label for="country" class="sr-only">Country</label>
			<input type="text" id="country" class="form-control" placeholder="Country" formControlName="country" required>
			<div *ngIf="f.submitted && formData.controls['country'].hasError('required')" class="help-block">This is required</div>
            <div class="help-block" *ngIf="formData.controls['country'].errors?.emptyValue">Value can't be empty</div>
		</div>

		<div class="form-group">
			<label for="pincode" class="sr-only">Pincode</label>
			<input type="text" id="pincode" class="form-control" placeholder="Pincode" formControlName="pincode" required>
			<div *ngIf="f.submitted && formData.controls['pincode'].hasError('required')" class="help-block">This is required</div>
            <div class="help-block" *ngIf="formData.controls['pincode'].errors?.emptyValue">Value can't be empty</div>

            <div class="help-block" *ngIf="formData.controls['pincode'].errors?.invalidNumber">Invalid pincode</div>

            <div *ngIf="formData.controls['pincode'].hasError('minlength')" class="help-block">Enter minimum 6 numbers</div>
			<div *ngIf="formData.controls['pincode'].hasError('maxlength')" class="help-block">Enter maximum 6 numbers</div>
		</div>

        <div class="form-group">
            <button [disabled]="loading" class="btn btn-lg btn-info btn-block">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <p class="mt-4">Don't have an account? <a [routerLink]="['/login']" class="btn btn-link">Login</a></p>
        </div>
    </form>
  </div>
</div>